<div class="post-date text-center">
  <span>
    {%- include "util/local-date" with date -%}
    {%- if updated %}
     • 
    Update {% include "util/local-date" with updated %}
  {%- endif -%}
  </span>
  {%- if tags -%}
     • 
    {% for tag in tags -%}
      <span>
        <a href="/blog/tag/{{ tag | downcase }}/">{{ tag }}</a>{% if forloop.index != forloop.length %}, {% endif %}
      </span>
    {% endfor %}
  {% endif %}
</div>