<nav class="site-navigation">
  <ul>
    <li><a class="{% if mixture.url == "index" %}main-link{% else %}black-link{% endif %}" href="/">Home</a></li>
    <li><a class="{% if mixture.url == "archive" %}main-link{% else %}black-link{% endif %}" href="/archive/">Archiv</a></li>
    <li><a class="{% if mixture.url == "about" %}main-link{% else %}black-link{% endif %}" href="/about/">Über</a></li>
  </ul>
</nav>