{% layout "layout" %}

{% block title %}Über - {{ global.title }}{% endblock %}

{% block content %}
<div class="container container-restricted">
  {% include "navigation" %}
  
  <div class="row">
    <div class="text-center col-sm-offset-2 col-sm-8">
      <p>
        <img src="/assets/about/marco.jpg" class="img-thumbnail img-responsive">
      </p>
      <h3>Marco Jakob</h3>
      <p>
        Finde mich auf <a href="https://plus.google.com/{{ global.googleplus }}">Google+</a> oder schreib mir ein Mail:
      </p>
      <img src="/assets/about/mail.png">
      <br/>
      <br/>
      
      <h4>Weitere Webseiten</h4>
      <a href="http://code.makery.ch">code.makery.ch</a>
    </div>
  </div>
</div>
{% endblock %} 